* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto Flex", sans-serif;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container {
  margin: 1rem 0;
  width: 90%;
  max-width: 400px;
  background-color: red;
}
h2 {
  text-align: center;
  color: aliceblue;
  padding-top: 1rem;
}
.keep {
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 1rem auto;
  border: 2px solid black;
  border-radius: 5px;
  color: aliceblue;
  font-weight: 600;
  padding: 0.5rem;
}
.totalTasks {
  height: 4rem;
  width: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  letter-spacing: 0.3rem;
  background-color: pink;
  border: none;
  border-radius: 50%;
}
.addtask {
  width: 90%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin: 1rem auto;
}
.addtask .inp {
  width: 90%;
  border: none;
  border-radius: 1rem;
  padding: 0.5rem 0.85rem;
  /* color: white; */
  /* background-color: aquamarine; */
}
.addtask #btn {
  border: none;
  border-radius: 50%;
  width: 2rem;
  padding: 0.2rem;
  color: blue;
}
ul {
  list-style-type: none; /* bullet points remove karne ke liye*/
}
